:root {
    --logo-text-color: #4D5AE5; /* IRIS */
    --header-logo-span-color: #2E2F42; /* NAVY BLUE */
    --footer-logo-span-color: #F4F4FD;
    --white: #ffffff;
    --header-link-color: #2E2F42;/* NAVY BLUE */
    --header-link-hov-color: #434455;/* SLATE */
    --hero-btn-text-color: #ffffff;
    --hero-btn-bg-color: #4D5AE5;
    --hero-bg-color: #2E2F42;/* NAVY BLUE */
    --main-title-color: #2E2F42; /* NAVY BLUE */
    --main-text-color: #434455;/* SLATE */
    --address-text-color: #434455; /* SLATE */

    --filter-btn-color: #F4F4FD; /* CLOUD */
    --filter-btn-hov-color: #404BBF; /* OCEAN */

    --filter-btn-text-color: #4D5AE5; /* IRIS */
    --footer-text-color: #F4F4FD; /* CLOUD */
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #434455;
    background-color: #ffffff;
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

/*---------- header --------*/
.header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-text-color);
}
.header-logo span {
    color: var(--header-logo-span-color);
}

.header-menu-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-link-color);
}
.header-menu-link:hover {
    font-weight: 600;
    color: var(--header-link-hov-color);
}
.header-address {
    font-style: normal;
}
.header-address-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--address-text-color);
}
.header-address-link:hover {
    color: var(--filter-btn-text-color);
}
/*---------- main   hero --------*/
.hero {
    background: var(--hero-bg-color);
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
}

.hero-btn {
    cursor: pointer;
    background: var(--hero-btn-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--hero-btn-text-color);
}

.hero-btn:hover {
    background: var(--hero-btn-bg-color);
}

/*---------- main   section1 --------*/
.features-item-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}

.features-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
/*---------- main   section2 --------*/

.activity-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-color);
}
/*---------- main   section3 --------*/
.staff-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-color);
}

.staff-item-title {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}

.staff-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
/*---------- footer --------*/
.footer {
    background: var(--hero-bg-color);
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--footer-text-color);
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-text-color);
}
.footer-logo span {
    color: var(--footer-logo-span-color);
}

/*---------- portfolio section 2 --------*/

.cards-item-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}
.cards-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.filter-btn{
    cursor: pointer;
    background: var(--filter-btn-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(---filter-btn-text-color);
}

.filter-btn:is( :hover, :active) {
    background: var(--filter-btn-hov-color);
    color: var(--white);
}